<%- include('include/adminHeader') -%>

<div class="interest-page-dashboard">
  <div class="container">

    <div class="user-details">
        <div class="text-center">
            <a class="btn btn-warning btn-sm" href="/adashboard"><i class="fa-solid fa-arrow-left fa-lg"></i> Back to dashvoard</a>
        </div>
    </div>

  </div>
</div>

<%-include('include/adminFooter') -%>
<script src="/js/editPartner.js"></script>