<%- include('include/userHeader') -%>

<div class="success">
    <div class="container">
        <div class="row interest-form-success">
        <div class="col-12 text-center">
                <div>
                    <i class="fa-solid fa-circle-check fa-interest-success"></i>
                </div>
                <h4>Password succefully changed</h4>
                <div>
                    <a href="/login" class="btn btn-success btn-sm">Proceed to login</a>
                </div>
        </div>
    </div>
</div>

<%- include('include/userFooter') -%>

<%- include('include/footer') -%>