<%- include('include/userHeader') -%>

<div class="success">
    <div class="container">
        <div class="row interest-form-success">
        <div class="col-12 text-center">
            <div>
                <i class="fa-solid fa-circle-check fa-interest-success"></i>
            </div>
            <% if (data == false){%>
                <h4>Form already submitted</h4>
                <p>You have already filled this form, kindly check your email, we must have sent you and information.</p>
            <%}else{%>
                <h4>Successful, thank you</h4>
                <p>Your form has been submitted Successful, we will get in touch with you within 24 hours.</p>
            <%}%>
        </div>
    </div>
</div>

<%- include('include/userFooter') -%>