<%- include('include/userHeader') -%>

<div class="success">
    <div class="container">
        <div class="row interest-form-success">
        <div class="col-12 text-center">
            <div>
               <i class="fa-solid fa-circle-check fa-interest-success"></i>
            </div>
            <h4>Successful, thank you</h4>
            <p>Your form has been submitted Successful, we will get in touch with you within 24 hours. We have also sent a brochure of Wosiwosi Partnership to your email</p>
        </div>
    </div>
</div>

<%- include('include/userFooter') -%>