<%- include('include/userHeader') -%>

<div class="interestForm">
    <div class="container">
        <div class="row interest-form-bar">
            <div class="col-12">
                <div>
                  <h5> Wosiwosi Investment Bond subscription form</h5>
                    <p>Thank you for showing interest in Wosiwosi investment, kindly fill the below subscription form.</p>
                </div>
                <div class="interest-form">
                    <form action="/esubscribe" method="post">
                        <div class="mb-3">
                            <label class="form-label">First Name</label>
                            <input type="text" name="fname" class="form-control" id="exampleFormControlInput1" maxlength="25" required>
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Last Name</label>
                            <input type="text" name="lname" class="form-control" id="exampleFormControlTextarea1" maxlength="25" required>
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" id="exampleFormControlTextarea1" required>
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Phone</label>
                            <input type="text" name="phone" class="form-control" id="exampleFormControlTextarea1" maxlength="13" required>
                          </div>

                          <div class="mb-3">
                            <label class="form-label">How do you identify yourself with Wosiwosi</label>
                            <select class="form-select" required name="category">
                              <option value="customer">Customer</option>
                              <option value="staff">Staff</option>
                              <option value="friend">Friend</option>
                              <option value="family">Family</option>
                            </select>
                          </div>


                          <div class="mb-3">
                            <label class="form-label">Address</label>
                            <input type="text" name="address" class="form-control" id="exampleFormControlTextarea1" maxlength="40" required>
                          </div>

                          <div class="mb-3">
                            <label class="form-label">Postcode/Zipcode</label>
                            <input type="text" name="postcode" class="form-control" id="exampleFormControlTextarea1"maxlength="9" required>
                          </div>

                          <div class="mb-3">
                            <label class="form-label">City</label>
                            <input type="text" name="city" class="form-control" id="exampleFormControlTextarea1"maxlength="9" required>
                          </div>

                          <div class="mb-3">
                            <label class="form-label">Country</label>
                            <input type="text" name="country" class="form-control" id="exampleFormControlTextarea1" maxlength="20" required>
                          </div>

                          <div class="mb-3">
                            <label>Select Currency</label>
                            <select class="form-select" name="currency" id="currency">
                              <option value="£">Pounds (£)</option>
                              <!-- <option value="N">Naira (N)</option> -->
                            </select>
                          </div>

                          <div class="mb-3">
                            <label>How would you like to get your ROI</label>
                            <select class="form-select" name="roiOption" id="returns">
                              <option value="20">20% Yearly Returns</option>
                              <!-- <option value="1.6666">1.666% Monthly Returns</option> -->
                              <!-- <option value="N">Naira (N)</option> -->
                            </select>
                          </div>



                          <div class="mb-3">
                            <label class="form-label">How much would you be willing to invest?</label>
                            <input type="number" name="capital" class="form-control" id="capital" min="2000" max="100000"  required>
                          </div>
<!-- 
                          <input type="hidden" name="capital"  id="capital"> -->
                          <input type="hidden" name="roiTime"  id="roiCollectionTime">

                          <div class="alert alert-light">
                            <p>ROI (%): <strong><span id="roipercent">0</span>%</strong> <span class="roiTime"></span></p>
                            <p>Expected ROI is: <strong><span class="currencySign"></span><span id="roiInfo">0</span></strong> <span class="roiTime"></span></p>
                            <!-- <p>Capital and ROI is: <strong><span class="currencySign"></span> <span id="totalToGet">0</span></strong></p> -->
                          </div>

                          <p class="alert alert-warning">Once the form has been submitted we will get in touch with you within 24 hours</p>
                          <!-- <div class="mb-2">
                            <label class="form-label">When would you like to start</label>
                            <input type="date" name="startDate" class="form-control" id="exampleFormControlTextarea1" required>
                          </div> -->
                          <!-- <div class="mb-2">
                            <label class="form-label">Next of kin full name</label>
                            <input type="text" name="nextOfKinName" class="form-control" id="exampleFormControlInput1" required>
                          </div>
                          <div class="mb-2">
                            <label class="form-label">Next of kin email</label>
                            <input type="email" name="nextOfKinEmail" class="form-control" id="exampleFormControlTextarea1" required>
                          </div>
                          <div class="mb-2">
                            <label class="form-label">Next of kin phone</label>
                            <input type="text" name="nextOfKinPhone" class="form-control" id="exampleFormControlTextarea1" required>
                          </div> -->
                          <button class="btn btn-success btn-sm" id="submitBtn" disabled>Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('include/userFooter') -%>
<script src="/min/userSubscription.js"></script>
<%- include('include/footer') -%>