.disclaimer{
    font-size: 12px;
}

.access-bar{
    height: 100%;
    padding: 8%;
}

.heading-content{
    padding: 0 30px 30px;
 }

.heading-title{
    letter-spacing: -2.5px;
}

.heading-description{
    font-size: 16px;
}
.interest-form{
    background-color: #00751918;
    padding: 20px;
}

.heading-contact{
    color: #000000;
}

/* .heading-image-bar{
    padding: 20;
} */
.heading-image{
   height: auto;
   width: 90%;
}

 /* mobile */
 @media (max-width:520px){
    .disclaimer{
        font-size: 11px;
    }

    .access-bar{
        padding: 8% 5%;
    }

    .heading-content{
        padding: 10px;
     }
    
    .heading-image{
        height: auto;
        width: 100%;
        padding: 20px 0 0;
     }
    
  }