<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=title%></title>
    <!-- boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap" rel="stylesheet">
     <!-- Font awsome -->
     <script src="https://kit.fontawesome.com/cbf7b60e46.js" crossorigin="anonymous"></script>
     <!-- default style  -->
     <link href="style/user/userIndex.css" rel="stylesheet">
     <!-- Font awsome -->
     <script src="https://kit.fontawesome.com/cbf7b60e46.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar bg-body-tertiary">
        <div class="container">

                <!-- Logo -->
                <div class="col-12 text-center">
                     <a class="navbar-brand" href="#">
                        <img src="images/logo.png" alt="Wosiwosi" class="logo">
                      </a>
                </div>
        </div>
    </nav>