        <section class="footer ">
            <div class="container">
                <div class="row  ">
                    <div class="col-12 text-center align-items-center">            
                        <p class="disclaimer">*Investment involves risk and can lead to either a gain or loss in capital. You are encouraged to take independent financial advice about this opportunity.<br> Wosiwosi is not a public listed company so it cannot make a public offering. It may however make an ‘arm’s length’ offering. So, it’s imperative that this opportunity is never confused with a “public offering”</p>
                    </div>
                </div>
            </div>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
